body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.sidebar {
  background-color: rgb(34, 37, 49);
  height: 100vh;
  width: 100%;
  max-width: 300px;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  transition: 0.3s ease;
}

.sidebar.active {
  left: 0;
}

.main-content-header {
  padding: 1rem;
  display: flex;
  background-color: red;
}

.hamburger-button {
  height: 50px;
  width: 50px;
  margin-right: auto;
  position: relative;
}

.hamburger-button span {
  height: 5px;
  width: 100%;
  background-color: #6f86ff;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transition: 0.3s ease;
}

.hamburger-button span:nth-child(1) {
  top: 25%;
}

.hamburger-button span:nth-child(3) {
  top: 75%;
}

.hamburger-button.active span:nth-child(1) {
  transform: translate(0, -50%) rotate(45deg);
  top: 50%;
}

.hamburger-button.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-button.active span:nth-child(3) {
  transform: translate(0, -50%) rotate(-45deg);
  top: 50%;
}

.main-content {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.todo-table {
  flex-grow: 1;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-row {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.name-checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

dialog {
  border: none;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
}

dialog form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
